.ocean {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.bubble {
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  animation: bubble 15s ease-in-out infinite, sideWays 4s ease-in-out infinite alternate;
}

/* Individual bubble styles */
.bubble1 { width: 30px; height: 30px; left: 10%; animation-delay: 0.5s; animation-duration: 16s; opacity: 0.4; }
.bubble2 { width: 15px; height: 15px; left: 40%; animation-delay: 1s; animation-duration: 10s; opacity: 0.2; }
.bubble3 { width: 10px; height: 10px; left: 30%; animation-delay: 5s; animation-duration: 20s; opacity: 0.6; }
.bubble4 { width: 25px; height: 25px; left: 40%; animation-delay: 8s; animation-duration: 17s; opacity: 0.4; }
.bubble5 { width: 30px; height: 30px; left: 60%; animation-delay: 10s; animation-duration: 15s; opacity: 0.2; }
.bubble6 { width: 10px; height: 10px; left: 80%; animation-delay: 3s; animation-duration: 30s; opacity: 0.6; }
.bubble7 { width: 15px; height: 15px; left: 90%; animation-delay: -7s; animation-duration: 25s; opacity: 0.4; }
.bubble8 { width: 20px; height: 20px; left: 50%; bottom: 30px; animation-delay: -5s; animation-duration: 19s; opacity: 0.3; }
.bubble9 { width: 40px; height: 40px; left: 30%; bottom: 30px; animation-delay: -21s; animation-duration: 16s; opacity: 0.5; }
.bubble10 { width: 30px; height: 30px; left: 60%; bottom: 30px; animation-delay: -13.75s; animation-duration: 20s; opacity: 0.1; }
.bubble11 { width: 25px; height: 25px; left: 90%; bottom: 30px; animation-delay: -10.5s; animation-duration: 19s; opacity: 0.8; }
.bubble12 { width: 15px; height: 15px; left: 70%; bottom: 10px; animation-delay: -12s; animation-duration: 22s; opacity: 0.6; }

/* Keyframes */
@keyframes bubble {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-120vh); }
}

@keyframes sideWays {
  0% { margin-left: 0px; }
  100% { margin-left: 200px; }
}
