@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.mw-150 {
  min-width: 150px;
  display: flex;
}

.core-feature-box {
  cursor: pointer;
}

.z-100 {
  z-index: 100;
}

.vawat-logo-override-horizontal {
  width: 65px;
}

.logo-offcanvas {
  width: 50px
}

.image-debug-wrapper {
  position: relative;
  display: inline-block;
}

.image-debug-wrapper::before {
  content: attr(data-label);
  position: absolute;
  top: 4px;
  left: 4px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 12px;
  padding: 2px 14px;
  border-radius: 4px;
}
