@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.mw-150 {
  min-width: 150px;
  display: flex;
}

.core-feature-box {
  cursor: pointer;
}

.z-100 {
  z-index: 100;
}

.vawat-logo-override-horizontal {
  width: 65px;
}

.logo-offcanvas {
  width: 50px
}